/* Agradeço a Deus pelo dom do conhecimento */

@media screen and (orientation:landscape) {
	.container_auth{
		position: absolute;
		top: 40%;
		left: 50%;
		margin-top: -111px;
		margin-left: -140px;
		max-width: 330px;
		min-width: 280px;
		padding: 15px;
	}
.container_product{
	position: absolute;
	top: 40%;
	left: 50%;
	margin-top: -150px;
	margin-left: -190px;
	max-width: 500px;
	min-width: 400px;
	padding: 15px;
}

	#search{
		width: auto;
		margin: 5px;
	}

	.pagamento{
		width: 2px;
		display: inline-table;
	}

	#sair{
		float: right;
		margin-right: 20px;
	}

}

@media screen and (orientation:portrait) {
	.container{
		position: relative;
		margin-top: 40%;
		max-width: 330px;
		min-width: 280px;
		padding: 15px;
	}
}
