<!-- Agradeço a Deus pelo dom do conhecimento -->
    <div class="container_pedido">
      <form ng-submit="salvar()">
        <legend class="text-center">Novo pedido</legend>
        <label for="nome">Cliente:</label>
        <input type="text" class="form-control" placeholder="nome do cliente" ng-model="pedidos.cliente" required><br>
        <label for="nome">Data:</label>
        <input type="date" class="form-control" placeholder="data do pedido" ng-model="pedidos.datacompra" maxlength="10" pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$" min="2010-01-01" max="3000-01-01"required/><br>
        <label for="nome">Código:</label>
        <span ng-class="mensagem.classe" ng-show="mensagem.codigo.length>0">{{mensagem.codigo}}</span>
        <input type="number" class="form-control" placeholder="codigo do produto" ng-model="produtos.codigo" ng-focus="procurar()" required><br>
        <label for="nome">Descrição:</label>
        <input type="text" class="form-control" placeholder="descrição do produto" ng-model="produtos.descricao" ng-focus="obterProduto()" required><br>
        <label for="nome">Preço do produto:</label>
        <input type="number" class="form-control" placeholder="preço do produto" ng-model="pedidos.precoproduto" pattern="([0-9]{1,3}\.)?[0-9]{1,3},[0-9]{2}$" required><br>
        <label for="nome">Número de parcelas:</label>
        <input type="number" class="form-control" placeholder="numero de parcelas" ng-model="pedidos.parcelas" required><br>
        <label for="nome">Clico:</label>
        <input type="number" class="form-control" placeholder="clico do pedido" ng-model="pedidos.ciclo" required><br>
        <label for="nome">Preço da representante (precoProduto-30%):</label>
        <input type="number" class="form-control" placeholder="preço pelo qual o produto será comprado" ng-model="pedidos.precorepresentante" pattern="([0-9]{1,3}\.)?[0-9]{1,3},[0-9]{2}$" required><br>
        <button type="submit" class="btn btn-success">Cadastrar</button>
        <a ng-click="limpar()" class="btn btn-warning">Limpar</a>
        <span ng-class="mensagem.classe" ng-show="mensagem.texto.length>0">{{mensagem.texto}}</span>
      </form>
      <br>
      <a href="/">Voltar para página inicial</a>
      <br>
      <br>
    </div>
