<!-- Agradeço a Deus pelo dom do conhecimento -->
<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <title>Página não encontrada</title>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
  </head>
  <body>
    <div class="container">
      <h1 class="jmbotrom text-center">Página não encontrada!</h1>
      <h2 class="text-center">
        <a href="/">Voltar para a página inicial</a>
      </h2>
    </div>
  </body>
</html>
